planning
clean_content.md
backup
.env
planning
__pycache__
openfoam_naca_*
job.Convergence*
openfoam_naca*
spatial_convergence*
SUB_SCRIPT*
analysis.py
parameter_study_camber/
convergence_study_num_points/
figs/*
bonus_task_mesh_failure/
